:root{
  --main-bg-color: #07162C;
  --main-border-color: #26354b;
  --main-header-gradient: linear-gradient(90deg, #0F1A2B 0%, #07162C 100%);
  --title-color: #9DA6B2;
  --logo-color: #DADFE5;
  --side-bar-color: #122137;
  --side-bar-tab-color: #122846;
  --side-bar-text-color: #ffffff;
  --side-bar-text-hover-color: #2E7AE5;
}