:root{
  --main-bg-color: #FDFDFD;
  --main-border-color: #DADCE2;
  --main-header-bg: #243D57;
  --header-title-color: #FFFFFF;
  --header-sub-title-color: #E0DEDE;
  --title-color: #9DA6B2;
  --logo-color: #DADFE5;
  --side-bar-bg-color: tranparent;
  --side-bar-tab-color: rgba(76, 152, 227, 0.11);
  --side-bar-text-color: #393E47;
  --side-bar-text-hover-color: #393E47;
}