<div class="gs-header">
    <div class="gs-header__logo">
        <div class="gs-header__logo__icon icon__logo"></div>
        <span class="gs-header__logo__text">Аппарат Правительства <br>Российской Федерации</span>
    </div>
    <button class="gs-header__btn">
        <div class="gs-header__btn__icon icon__gog"></div>
        <span class="gs-header__btn__text">Настроить страницу</span>
    </button>
</div>
<div class="gs-frame">
    <div class="gs-frame__side-bar">
        <div class="gs-frame__side-bar__top">
            <div class="gs-frame__side-bar__tab active">
                <div class="gs-frame__side-bar__tab__icon icon__home"></div>
                <span class="gs-frame__side-bar__tab__text">Моя страница</span>
            </div>
            <div class="gs-frame__side-bar__tab">
                <div class="gs-frame__side-bar__tab__icon icon__mail"></div>
                <span class="gs-frame__side-bar__tab__text">Почта</span>
            </div>
            <div class="gs-frame__side-bar__tab">
                <div class="gs-frame__side-bar__tab__icon icon__bank"></div>
                <span class="gs-frame__side-bar__tab__text">Мониторинг</span>
            </div>
            <div class="gs-frame__side-bar__tab">
                <div class="gs-frame__side-bar__tab__icon icon__box"></div>
                <span class="gs-frame__side-bar__tab__text">Проекты</span>
            </div>
            <div class="gs-frame__side-bar__tab">
                <div class="gs-frame__side-bar__tab__icon icon__rating"></div>
                <span class="gs-frame__side-bar__tab__text">Рейтинг</span>
            </div>
        </div>
        <div class="gs-frame__side-bar__bottom">
            <div class="gs-frame__side-bar__tab">
                <div class="gs-frame__side-bar__tab__icon icon__chat"></div>
                <span class="gs-frame__side-bar__tab__text">Сообщения</span>
            </div>
            <div class="gs-frame__side-bar__tab">
                <div class="gs-frame__side-bar__tab__icon icon__calendar"></div>
                <span class="gs-frame__side-bar__tab__text">Календарь</span>
            </div>
            <div class="gs-frame__side-bar__tab">
                <div class="gs-frame__side-bar__tab__icon icon__group"></div>
                <span class="gs-frame__side-bar__tab__text">Кадры</span>
            </div>
        </div>
    </div>
    <div class="gs-frame__content">

    </div>
</div>
<div class="gs-footer"></div>